<div class="container mt-5">
    <div class="d-flex p-4 justify-content-center">
        <h1 class="text-center mb-4">CARRITO</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="row mt-4" id="list-products">

        </div>
    </div>
</div>

<script src="/js/cart.js"></script>